body{
    font-size: 1.2em;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background-color: rgb(223, 219, 219);
  }

  .my-card {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: bolder;
    font-size: 40px;
    padding: 0!important;
}

.selected {
    border: 2px solid red;
    scale: 1.04;
}