body{
    font-size: 1.2em;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background-color: rgb(253, 249, 249);
  }

  .myCard{
    margin: 15px;
    border-radius: 0px;
    transition: transform 0.2s; 
    cursor: pointer;
}

.myCard:hover{
    transform: scale(1.05)
}

.imgBook{
    width: 286px;
    height: 350px;
    border-radius: 0px;

}

.redBorder{
    border: solid 3px red !important
}

