body{
    font-size: 1.2em;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background-color: rgb(253, 249, 249);
  }

  .my-card {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: bolder;
    font-size: 40px;
    padding: 0!important;
}

.selected {
    height: 600px;
    width: 230px;
    cursor: pointer;
}

.redBorder {
  height: 600px;
  width: 230px;
  cursor: pointer;
  border: 2px solid red;
}